/* GLOBAL */
html, body{
    font-family: 'Work Sans', sans-serif;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.heading p{
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 16px;
}

.heading p::after{
    display: block;
    content: "";
    width: 70px;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.section{
    padding: 5rem 0;
}

/* INFO */
.info__content > p{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0 5rem;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.info__item .info__icon{
    text-align: center;
    color: #ff4f81;
}

.info__item i{
    font-size: 2rem;
}

.info__item h3{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    margin: 1rem 0;
}

.info__item p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}

/* FORM */
table {
	margin: 50px auto;
	width: 500px;
}
td {
	padding: 5px 0;

}
input,select,textarea {
	padding: 5px;
	width: 100%;
}
textarea {
	height: 100px;
}
.required {
	color: red;
}
#caution {
	margin-top: 50px;
	text-align: center;
	color: #a00;
}
#complete {
	margin-top: 50px;
	text-align: center;
	color: #060;
}
.button {
    margin: auto;
    width: 30%;
    border: 3px solid hwb(132 38% 12%);
    padding: 10px;
  }
.button:hover {
    color: #ff4f81;
}
.required{
    border-radius: 10px;
}
textarea.form-control {
    height: 230px;
}
.contact{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.form-group button{
    background-color: #ff4f81;
    padding: 12px 45px;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    outline: none;
    transition: all .5s;
    border-radius: 15px;
}

.form-group button:hover{
    background-color: #ec1955;
    color: #fff;
}
.input-group-sm>.form-control{
    padding: 21px 10px;
}